[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	# Current working tree in short format
	s = status -s
	
	# Ammend last commit without touching the message
	amend = --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	signingkey = /Users/ccblaisdell/.ssh/salesforce_ed25519.pub
[credential "https://git.soma.salesforce.com"]
	provider = github
