[user]
	email = ccblaisdell@gmail.com
	name = Colby Blaisdell
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	# Current working tree in short format
	s = status -s
	
	# Ammend last commit without touching the message
	amend = --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
