{
  :devices {
    ; built in kb is 1452
    ; I'm guessing 76 is external apple kb?
    :apple [
      {:vendor_id 1452}
      {:vendor_id 76}
    ]
    ; ducky one 2 mini rgb
    :ducky [
      {:vendor_id 1046, :product_id 291}
    ]
  }

  :layers {
    ; implement caps lock mode
    :caps_mode {:key :caps_lock :alone {:key :escape}}
  }

  :main [
    {:des "capslock layer"
      :rules [
        :caps_mode
      ]
    }

    ; left and right shift alone to open and close parens
    {:des "left shift once -> ("
      :rules [
        [:##left_shift :left_shift nil {:alone :!S9} ]
      ]
    }
    {:des "right shift once -> )"
      :rules [
        [:##right_shift :right_shift nil {:alone :!S0} ]
      ]
    }

  ]
}

